.ng-submitted input.ng-invalid{
    border: 1px solid red;
}

.modal-backdrop{
    background-color: #AAAAAAAA;
    z-index: 1040 !important;
}
.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}